.character {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 5rem;
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px white;
  transition: 0.2s ease-in-out;
}

.character:hover {
  background-color: gray;
}

.image {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.name {
  font-weight: 900;
}

.series {
  font-size: 0.8rem;
}
